<div class="forms-main">
	<h2 class="inner-tittle">Add a question </h2>
	<div class="graph-form">
		<div class="form-body">
			<form>
				<div class="form-group">
					<label for="exampleInputEmail1">Question</label>
					<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Answer</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
				</div>
				<div class="form-group">
					<label for="exampleInputPassword1">Mark</label>
					<input type="password" class="form-control" id="exampleInputPassword1" placeholder="">
				</div>
				<button type="submit" class="btn btn-default">Submit</button>
				<button type="submit" class="btn btn-danger"> <a href="show_score_trial.html" style="color: whitesmoke">Submit and Continue<a/></button>
			</form>
		</div>

	</div>
</div>
