<div class="forms-main">
    <h2 class="inner-tittle">Your score </h2>
    <div class="graph-form">
        <div class="form-body">
            <form>
                <div class="form-group">
                    <p>Your score for questionnaire</p>
                    <label>Learn About Pandas</label>
                    <p>is</p>
                    <h1 style="font-size: 100px; color: hotpink">6/10</h1>
                    <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">-->
                </div>
                <div class="form-group">
                    <h1>You need improvement.</h1>
                    <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="">-->
                </div>
                <button type="submit" class="btn btn-danger"><a href="add_trial.html" style="color: whitesmoke">See Subject Content</a></button>
                <button type="submit" class="btn btn-default">Retry</button>
                <!--<button type="submit" class="btn btn-danger">Submit and Continue</button>-->
            </form>
        </div>
    </div>
</div>