<div class="graph-visual tables-main">
    <h2 class="inner-tittle">Attempted Questionnaires - June</h2>
    <div class="graph">
        <div class="block-page">
            <div class="tables">

                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Questionnaire</th>
                        <th>Attempts</th>
                        <th>Date</th>
                        <th>View</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>First Questionnaire</td>
                        <td>2</td>
                        <td>12/12/2017</td>
                        <td><a class="btn green">View</a></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Second Questionnaire</td>
                        <td>5</td>
                        <td>12/12/2017</td>
                        <td><a class="btn green">View</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="graph-visual tables-main">
    <div class="custom-widgets">
        <div class="block-page">
            <div class="row-one">
                <div class="col-md-3 widget">
                    <div class="stats-left ">
                        <h5>Today</h5>
                        <h4> Attempts</h4>
                    </div>
                    <div class="stats-right">
                        <label>2</label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="col-md-3 widget states-mdl">
                    <div class="stats-left">
                        <h5>Today</h5>
                        <h4>Messages</h4>
                    </div>
                    <div class="stats-right">
                        <label>1</label>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</div>